
ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0 0 50px;
    overflow: hidden;
    /*background-color: #052e3d;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 14px 50px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #35a2b9;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}